<!-- HTML -->
<div id="buybar" class=""> 

  <div class="left between">
    <div class="size"> 
      <div class="guide">Size guide</div>
    </div>
    <div class="price"> 
        <div class="no-js-hidden" id="price-{{ section.id }}">
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__tax caption rte">
            {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
            </div>
        {%- endif -%}
        <div>
            {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {{ form | payment_terms }}
            {%- endform -%}
        </div>
    </div>
  </div>

  <div class="right">     
      <div class="add display"><span>Add to Cart</span></div>
      <button class="chat-button help"><span>Help</span><i class="fa-solid fa-comment-question"></i></button>
  </div>
</div>



<!-- CSS -->
{%- style -%}
#buybar, #buybar.left, 
#buybar .right, #buybar .right .add {
  height: 79px !important;
}

#buybar {
  @media screen and (max-width: 750px) {
    height: 159px !important;
  }
}

#buybar.passed {
  bottom: -80px;

  @media screen and (max-width: 750px) {
    bottom: -160px;
  }
}

#buybar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10;
  background: white;

  transition: bottom .4s;
}

#buybar .left, #buybar .right {
  width: 50%;

  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

#buybar .left {
  padding: 0 10px !important;
  justify-content: space-between;
}

#buybar .left {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

#buybar .left .price {
    flex-direction: column;
}

#buybar .right .add {
    padding: 0 !important;
    transition: background-color .7s !important;
    transition: color .7s;
}

#buybar .right .add:hover,
#buybar .right .add.flash {
    background: var(--color-black);
}

#buybar .right .add:hover *,
#buybar .right .add.flash * {
    color: var(--color-white) !important;
}
{%- endstyle -%}



<!-- JS -->
<script>
// Element exists
$.fn.alive = function() {
    return this.length>0;
}

// Element is the window
$.fn.isWindow = function() {
    let
        t = Object.prototype.toString.call(this[0]),
        a = ['[object DOMWindow]','[object Window]','[object global]'];

    return _.indexOf(a,t)>-1 ? true : false;
}

// Element is in view
$.fn.inView = function() {
    let
        t = $(this),
        w = $(window),

        elt = t.offset().top,
        elb = elt + t.outerHeight(),
        vpt = w.scrollTop(),
        vpb = vpt + w.height();

    return elb > vpt && elt < vpb;
}



// Scroll logic
let buybar = $('#buybar');
$(window).on('scroll', function(e) {
    let p = $('.product-recommendations');
    
    if(p.alive() && buybar.alive())
        p.inView() ? 
            buybar.addClass('passed') : 
            buybar.removeClass('passed');
});
$(window).trigger('scroll');



// ADD TO CART flash
let addbtn = $('#buybar .right .add'),
    wait = setTimeout(() => {
        addbtn.addClass('flash');

        wait = setTimeout(() => {
            addbtn.removeClass('flash');
        }, 2000);
    }, 3000);

addbtn.mouseenter(() => {
    clearTimeout(wait);
});

// ADD TO CART logic
let variant = $('variant-radios input[type=radio]');
variant.change(() => {
    setTimeout(()=>{
        const shadow = $('button.product-form__submit span').text();
        addbtn.text(shadow);
    }, 500);
});
variant.trigger('change');



// Tidio
(function() {
    function onTidioChatApiReady() {
        window.tidioChatApi.hide();
        window.tidioChatApi.on("close", function() {
        window.tidioChatApi.hide();
        });
    }

    if (window.tidioChatApi) {
        window.tidioChatApi.on("ready", onTidioChatApiReady);
    } else {
        document.addEventListener("tidioChat-ready", onTidioChatApiReady);
    }

    document.querySelector(".chat-button").addEventListener("click", function() {
        window.tidioChatApi.show();
        window.tidioChatApi.open();
    });
})();
</script>