<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    

    <!-- SETTINGS !-->
    {%- liquid
      assign type_header_font = "assistant_n4"
      assign heading_scale = 100
      assign type_body_font = "assistant_n4"
      assign body_scale = 100
      assign page_width = 1200
      assign spacing_sections = 0
      assign spacing_grid_horizontal = 8
      assign spacing_grid_vertical = 8
      assign buttons_border_thickness = 1
      assign buttons_border_opacity = 100
      assign buttons_radius = 0
      assign buttons_shadow_opacity = 0
      assign buttons_shadow_horizontal_offset = 0
      assign buttons_shadow_vertical_offset = 0
      assign buttons_shadow_blur = 0
      assign variant_pills_border_thickness = 1
      assign variant_pills_border_opacity = 55
      assign variant_pills_radius = 40
      assign variant_pills_shadow_opacity = 0
      assign variant_pills_shadow_horizontal_offset = 0
      assign variant_pills_shadow_vertical_offset = 0
      assign variant_pills_shadow_blur = 0
      assign inputs_border_thickness = 1
      assign inputs_border_opacity = 55
      assign inputs_radius = 0
      assign inputs_shadow_opacity = 0
      assign inputs_shadow_horizontal_offset = 0
      assign inputs_shadow_vertical_offset = 0
      assign inputs_shadow_blur = 0
      assign card_style = "default"
      assign card_image_padding = 0
      assign card_text_alignment = "left"
      assign card_color_scheme = "background-2"
      assign card_border_thickness = 0
      assign card_border_opacity = 0
      assign card_corner_radius = 0
      assign card_shadow_opacity = 10
      assign card_shadow_horizontal_offset = 0
      assign card_shadow_vertical_offset = 0
      assign card_shadow_blur = 0
      assign collection_card_style = "standard"
      assign collection_card_image_padding = 0
      assign collection_card_text_alignment = "left"
      assign collection_card_color_scheme = "background-2"
      assign collection_card_border_thickness = 0
      assign collection_card_border_opacity = 0
      assign collection_card_corner_radius = 0
      assign collection_card_shadow_opacity = 10
      assign collection_card_shadow_horizontal_offset = 0
      assign collection_card_shadow_vertical_offset = 0
      assign collection_card_shadow_blur = 0
      assign blog_card_style = "standard"
      assign blog_card_image_padding = 0
      assign blog_card_text_alignment = "left"
      assign blog_card_color_scheme = "background-2"
      assign blog_card_border_thickness = 0
      assign blog_card_border_opacity = 0
      assign blog_card_corner_radius = 0
      assign blog_card_shadow_opacity = 10
      assign blog_card_shadow_horizontal_offset = 0
      assign blog_card_shadow_vertical_offset = 0
      assign blog_card_shadow_blur = 0
      assign text_boxes_border_thickness = 0
      assign text_boxes_border_opacity = 0
      assign text_boxes_radius = 0
      assign text_boxes_shadow_opacity = 0
      assign text_boxes_shadow_horizontal_offset = 0
      assign text_boxes_shadow_vertical_offset = 0
      assign text_boxes_shadow_blur = 0
      assign media_border_thickness = 1
      assign media_border_opacity = 5
      assign media_radius = 0
      assign media_shadow_opacity = 0
      assign media_shadow_horizontal_offset = 0
      assign media_shadow_vertical_offset = 0
      assign media_shadow_blur = 0
      assign popup_border_thickness = 1
      assign popup_border_opacity = 10
      assign popup_corner_radius = 0
      assign popup_shadow_opacity = 0
      assign popup_shadow_horizontal_offset = 0
      assign popup_shadow_vertical_offset = 0
      assign popup_shadow_blur = 0
      assign drawer_border_thickness = 1
      assign drawer_border_opacity = 10
      assign drawer_shadow_opacity = 0
      assign drawer_shadow_horizontal_offset = 0
      assign drawer_shadow_vertical_offset = 0
      assign drawer_shadow_blur = 0
      assign badge_position = "bottom left"
      assign badge_corner_radius = 40
      assign sale_badge_color_scheme = "accent-2"
      assign sold_out_badge_color_scheme = "inverse"
      assign accent_icons = "text"       
    %}
    <!-- END SETTINGS !-->

    {%- liquid
      assign body_font_bold = type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ type_body_font.family }}, {{ type_body_font.fallback_families }};
        --font-body-style: {{ type_body_font.style }};
        --font-body-weight: {{ type_body_font.weight }};
        --font-body-weight-bold: {{ type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ type_header_font.family }}, {{ type_header_font.fallback_families }};
        --font-heading-style: {{ type_header_font.style }};
        --font-heading-weight: {{ type_header_font.weight }};

        --font-body-scale: {{ body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ heading_scale | times: 1.0 | divided_by: body_scale }};

        --color-base-text: {{ colors_text.red }}, {{ colors_text.green }}, {{ colors_text.blue }};
        --color-shadow: {{ colors_text.red }}, {{ colors_text.green }}, {{ colors_text.blue }};
        --color-base-background-1: {{ colors_background_1.red }}, {{ colors_background_1.green }}, {{ colors_background_1.blue }};
        --color-base-background-2: {{ colors_background_2.red }}, {{ colors_background_2.green }}, {{ colors_background_2.blue }};
        --color-base-solid-button-labels: {{ colors_solid_button_labels.red }}, {{ colors_solid_button_labels.green }}, {{ colors_solid_button_labels.blue }};
        --color-base-outline-button-labels: {{ colors_outline_button_labels.red }}, {{ colors_outline_button_labels.green }}, {{ colors_outline_button_labels.blue }};
        --color-base-accent-1: {{ colors_accent_1.red }}, {{ colors_accent_1.green }}, {{ colors_accent_1.blue }};
        --color-base-accent-2: {{ colors_accent_2.red }}, {{ colors_accent_2.green }}, {{ colors_accent_2.blue }};
        --payment-terms-background-color: {{ colors_background_1 }};

        --gradient-base-background-1: {% if gradient_background_1 != blank %}{{ gradient_background_1 }}{% else %}{{ colors_background_1 }}{% endif %};
        --gradient-base-background-2: {% if gradient_background_2 != blank %}{{ gradient_background_2 }}{% else %}{{ colors_background_2 }}{% endif %};
        --gradient-base-accent-1: {% if gradient_accent_1 != blank %}{{ gradient_accent_1 }}{% else %}{{ colors_accent_1 }}{% endif %};
        --gradient-base-accent-2: {% if gradient_accent_2 != blank %}{{ gradient_accent_2 }}{% else %}{{ colors_accent_2 }}{% endif %};

        --media-padding: {{ media_padding }}px;
        --media-border-opacity: {{ media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ media_border_thickness }}px;
        --media-radius: {{ media_radius }}px;
        --media-shadow-opacity: {{ media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ media_shadow_blur }}px;
        --media-shadow-visible: {% if media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ card_text_alignment }};
        --product-card-border-width: {{ card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ collection_card_text_alignment }};
        --collection-card-border-width: {{ collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ blog_card_text_alignment }};
        --blog-card-border-width: {{ blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ popup_border_thickness }}px;
        --popup-border-opacity: {{ popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ popup_corner_radius }}px;
        --popup-shadow-opacity: {{ popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ popup_shadow_blur }}px;

        --drawer-border-width: {{ drawer_border_thickness }}px;
        --drawer-border-opacity: {{ drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ spacing_sections }}px;
        --spacing-sections-mobile: {% if spacing_sections < 24 %}{{ spacing_sections }}{% else %}{{ spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ text_boxes_shadow_blur }}px;

        --buttons-radius: {{ buttons_radius }}px;
        --buttons-radius-outset: {% if buttons_radius > 0 %}{{ buttons_radius | plus: buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if buttons_border_opacity > 0 %}{{ buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ buttons_shadow_blur }}px;
        --buttons-border-offset: {% if buttons_radius > 0 or buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ inputs_radius }}px;
        --inputs-border-width: {{ inputs_border_thickness }}px;
        --inputs-border-opacity: {{ inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if inputs_shadow_vertical_offset != 0 and inputs_shadow_opacity > 0 %}{{ inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if inputs_radius > 0 %}{{ inputs_radius | plus: inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ variant_pills_radius }}px;
        --variant-pills-border-width: {{ variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ variant_pills_shadow_blur }}px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
  </head>

  <body class="gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
