{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "header",
          "content": "Colour"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "sec",
              "label": "Secondary accent"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "sec",
          "label": "Background"
        },

        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}



{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar center-xs bg-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <div class="page-width">
                <p class="announcement-bar__message {{ block.settings.text_alignment }} sml">
                  {{ block.settings.text | escape }}
                </p>
              </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}



{% stylesheet %}
#shopify-section-announcement-bar {
  position: fixed !important;
  top: 0;
  width: 100% !important;
  
  z-index: 10 !important;
}
  
.announcement-bar {
  padding-top: 4px;
  height: 34px;
}

.announcement-bar__link {
  padding: 1px 0 0 0 !important;
  text-decoration: none;
}


.announcement-bar__link:hover {
  background-color: transparent !important;
}

{% endstylesheet %}