{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">

      <!--
      <div class="logowrap">
        <svg class="logo fill-{{ section.settings.color_overlay }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 643.03 166.5" style="enable-background:new 0 0 643.03 166.5;" xml:space="preserve">
          <g><path d="M577.8,27.35h-18.15v111.79h18.15V27.35z M144.07,148.51h-36.89v17.99h36.89V148.51z M18.15,42.8h26.19V27.35H0v111.79          h18.15V90.3h19.69V75.03H18.15V42.8z M74.3,102.39H61.98l6.68-45.66L74.3,102.39z M79.27,139.15h18.49l-19-111.79H58.72l-19,111.79          h16.61l3.42-21.82h16.61L79.27,139.15z M146.12,133.94c4.39-4.81,6.59-10.97,6.59-18.46V99.2h-16.09v16.62          c0,2.69-0.77,4.9-2.31,6.63c-1.54,1.74-3.91,2.6-7.11,2.6c-3.2,0-5.56-0.86-7.1-2.6c-1.54-1.73-2.31-3.89-2.31-6.46V50.52          c0-2.57,0.77-4.73,2.31-6.46c1.54-1.73,3.91-2.6,7.1-2.6c3.19,0,5.57,0.87,7.11,2.6c1.54,1.74,2.31,3.94,2.31,6.63v16.45h16.09          V51.02c0-7.5-2.2-13.65-6.59-18.46c-4.4-4.81-10.82-7.22-19.26-7.22c-4.11,0-7.88,0.67-11.3,2.01s-6.34,3.22-8.73,5.62          c-2.4,2.41-4.25,5.23-5.56,8.48c-1.31,3.25-1.97,6.77-1.97,10.57v62.44c0,3.81,0.66,7.33,1.97,10.57c1.31,3.25,3.17,6.07,5.56,8.48          c2.4,2.41,5.31,4.28,8.73,5.62s7.19,2.01,11.3,2.01C135.31,141.16,141.73,138.75,146.12,133.94 M194.66,115.98          c0,2.69-0.78,4.87-2.33,6.55c-1.56,1.68-3.77,2.52-6.65,2.52c-2.88,0-5.1-0.84-6.65-2.52c-1.56-1.68-2.33-3.86-2.33-6.55V50.52          c0-2.69,0.78-4.87,2.33-6.55c1.56-1.68,3.77-2.52,6.65-2.52c2.88,0,5.1,0.84,6.65,2.52c1.56,1.68,2.33,3.86,2.33,6.55V115.98z          M205.38,133.77c4.95-4.92,7.42-11.3,7.42-19.14V51.86c0-3.92-0.65-7.5-1.96-10.74c-1.31-3.24-3.13-6.04-5.46-8.39          c-2.33-2.35-5.18-4.17-8.53-5.46c-3.36-1.29-7.08-1.93-11.18-1.93c-4.1,0-7.82,0.65-11.18,1.93c-3.36,1.29-6.2,3.1-8.53,5.46          c-2.33,2.35-4.15,5.15-5.46,8.39c-1.31,3.25-1.96,6.83-1.96,10.74v62.78c0,7.83,2.48,14.21,7.42,19.14          c4.95,4.93,11.52,7.39,19.71,7.39C193.86,141.16,200.43,138.7,205.38,133.77 M262.97,139.15h14.04V27.35h-16.26v68.48l-5.82-17.29          l-17.8-51.19h-16.09v111.79h16.44V71.33l6.33,17.12L262.97,139.15z M346.43,134.03c4.51-4.76,6.76-10.99,6.76-18.72V27.35h-18.15          v88.96c0,5.82-2.63,8.73-7.88,8.73c-5.37,0-8.05-2.91-8.05-8.73V94.66h-17.29v21.32c0,7.72,2.31,13.85,6.93,18.38          c4.62,4.53,10.87,6.8,18.75,6.8C335.61,141.16,341.92,138.78,346.43,134.03 M390.51,102.39h-12.33l6.68-45.66L390.51,102.39z          M395.47,139.15h18.49l-19-111.79h-20.03l-19,111.79h16.61l3.42-21.82h16.61L395.47,139.15z M462.33,133.94          c4.39-4.81,6.59-10.97,6.59-18.46V99.2h-16.09v16.62c0,2.69-0.77,4.9-2.31,6.63c-1.54,1.74-3.91,2.6-7.11,2.6          c-3.2,0-5.56-0.86-7.1-2.6c-1.54-1.73-2.31-3.89-2.31-6.46V50.52c0-2.57,0.77-4.73,2.31-6.46c1.54-1.73,3.91-2.6,7.1-2.6          c3.2,0,5.56,0.87,7.11,2.6c1.54,1.74,2.31,3.94,2.31,6.63v16.45h16.09V51.02c0-7.5-2.2-13.65-6.59-18.46          c-4.4-4.81-10.82-7.22-19.26-7.22c-4.11,0-7.88,0.67-11.3,2.01c-3.42,1.34-6.33,3.22-8.73,5.62c-2.4,2.41-4.25,5.23-5.56,8.48          c-1.31,3.25-1.97,6.77-1.97,10.57v62.44c0,3.81,0.66,7.33,1.97,10.57c1.31,3.25,3.17,6.07,5.56,8.48c2.4,2.41,5.31,4.28,8.73,5.62          c3.42,1.34,7.19,2.01,11.3,2.01C451.51,141.16,457.93,138.75,462.33,133.94 M550.41,27.35h-24.14l-9.76,56.57l-3.25,21.65          l-3.08-21.65l-9.93-56.57h-24.48v111.79h16.09V56.06l3.42,23.5l10.1,59.59h13.7l10.61-59.59l3.6-23.5v83.09h17.12V27.35z          M550.28,17.99h36.89V0h-36.89V17.99z M643.03,139.15V27.35h-16.27v68.48l-5.82-17.29l-17.8-51.19h-16.09v111.79h16.43V71.33          l6.33,17.12l19.18,50.69H643.03z"></path></g>
        </svg>
      </div>
      -->

      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' and block.settings.heading != blank %} col-xs-6 col-md-2{% else %} col-xs-12 col-md-4{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size = block.settings.image_width | append: 'x' -%}
                      <img
                        srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                        src="{{ block.settings.image | img_url: '400x' }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="footer-block--newsletter">

        <!-- NEWSLETTER -->
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            <div id="omnisend-embedded-v2-639489002e79e5c523763ce9"></div>

            {%- style -%}
              .omnisend-form-639489002e79e5c523763ce9-content {
                margin: none !important;
              }

              .omnisend-form-639489002e79e5c523763ce9-section-624ab2f927652f651edfd0ac {
                padding: none !important;
              }

              .omnisend-form-639489002e79e5c523763ce9-content *,
              .omnisend-form-639489002e79e5c523763ce9-content * p {
                font-family: 'sans';
                font: 15px 'sans' !important;
                line-height: 24px !important;
                letter-spacing: .5px !important;
              }

              #omnisend-form-639489002e79e5c523763ce9-field-container-62a34db0f7b3732a01429b16-emailField-input.omnisend-form-639489002e79e5c523763ce9-field-container-62a34db0f7b3732a01429b16-input {
                border: none !important;
                border-radius: 0 !important;
                border-bottom: 2px solid var(--color-black) !important;
                padding-bottom: 5px !important;
              }

            {%- endstyle -%}

            <!--
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
              {%- endform -%}
            -->
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}



{%- style -%}
  footer {
    padding-top: calc(var(--pad));
  }

  footer *:not(.logo) {
    font-size: 15px !important;
    text-align: left !important;
  }

  footer .logowrap {
    width: 110px;
    height: 30px;
    padding-bottom: 23px !important;
  }

  footer .page-width {
    padding-left: calc(var(--pad)) !important;
    padding-right: calc(var(--pad)) !important;
  }

  .footer-block__heading {
    margin-bottom: 10px;

    text-transform: none;
    text-decoration: underline;
  }

  .footer-block__heading, .list-menu__item--active {
    font-weight: bold;
  }

  .footer-block__details-content li {
    line-height: 1px;
    overflow: hidden !important;
  }

  .list-menu__item--link {
    padding-bottom: 2px;
  }

  .list-menu__item--active {
    text-decoration: none;
  }

  .rte p {
    line-height: 32px;
  }

  .footer-block--newsletter {
    margin-top: -15px !important;
  }

  h2.footer-block__heading {
    font-family: 'sans' !important;
    font-size: 15px !important;
    line-height: 24px !important;
    letter-spacing: .5px !important;
    text-transform: none !important;
    font-weight: bold !important;
    text-align: left;
  }

  ul.footer-block__details-content li {
    display: block;
  }

  .list-menu__item {
    align-items: flex-start !important;
  }

  .footer-block:only-child:last-child {
    max-width: auto;
    margin: 0;
  }

  .footer-block:only-child li {
    display: block;
  }

  .footer__blocks-wrapper, .footer-block--newsletter {
    padding-bottom: calc(var(--pad)) !important;
  }
{%- endstyle -%}





