{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "select",
      "id": "color_overlay",
      "options": [
        {
          "value": "sec",
          "label": "Secondary accent"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "sec",
      "label": "Color",
      "info": "The color of the overlay."
    },
    {
      "type": "select",
      "id": "overlay",
      "options": [
        {
          "value": "logo",
          "label": "Logo"
        },
        {
          "value": "text",
          "label": "Custom text"
        }
      ],
      "default": "logo",
      "label": "Overlay content"
    },
    {
      "type": "text",
      "id": "overlay_text",
      "label": "Custom text",
      "info": "Text over slideshow if 'Custom text' is selected.",
      "default": "New Collection"
    },
    {
      "type": "header",
      "content": "Link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Slideshow link"
    },
    {
      "type": "select",
      "id": "window",
      "options": [
        {
          "value": "_self",
          "label": "This window"
        },
        {
          "value": "_blank",
          "label": "New window"
        }
      ],
      "default": "_self",
      "label": "Open in"
    },

    {
      "type": "video",
      "id": "video",
      "label": "Video"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Image slide",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },

    {
      "type": "video",
      "name": "Video slide",
      "limit": 1,
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}



<div class="slideshow">
    <div class="imgs fix" data-auto="{{ section.settings.change_slides_speed }}">
        {%- for block in section.blocks -%}
            <div>{% block.settings %}</div>
            
            {%- if block.settings.image -%}
                <img
                  srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                  sizes="100vw"
                  src="{{ block.settings.image | image_url: width: 1500 }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round }}"
                >
            {%- endif -%}

            {%- if block.settings.video -%}
              VIDEO
          {%- endif -%}
        {%- endfor -%}
    </div>

    <div class="overlay abs row middle-xs center-xs">

        {%- if section.settings.link -%}
          <a href="{{  section.settings.link }}" target="{{  section.settings.window }}">
        {%- endif -%}
          
        <div class="wrap">
          {%- if section.settings.overlay == 'logo' -%}
          <svg class="logo fill-{{ section.settings.color_overlay }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 643.03 166.5" style="enable-background:new 0 0 643.03 166.5;" xml:space="preserve">
              <g><path d="M577.8,27.35h-18.15v111.79h18.15V27.35z M144.07,148.51h-36.89v17.99h36.89V148.51z M18.15,42.8h26.19V27.35H0v111.79          h18.15V90.3h19.69V75.03H18.15V42.8z M74.3,102.39H61.98l6.68-45.66L74.3,102.39z M79.27,139.15h18.49l-19-111.79H58.72l-19,111.79          h16.61l3.42-21.82h16.61L79.27,139.15z M146.12,133.94c4.39-4.81,6.59-10.97,6.59-18.46V99.2h-16.09v16.62          c0,2.69-0.77,4.9-2.31,6.63c-1.54,1.74-3.91,2.6-7.11,2.6c-3.2,0-5.56-0.86-7.1-2.6c-1.54-1.73-2.31-3.89-2.31-6.46V50.52          c0-2.57,0.77-4.73,2.31-6.46c1.54-1.73,3.91-2.6,7.1-2.6c3.19,0,5.57,0.87,7.11,2.6c1.54,1.74,2.31,3.94,2.31,6.63v16.45h16.09          V51.02c0-7.5-2.2-13.65-6.59-18.46c-4.4-4.81-10.82-7.22-19.26-7.22c-4.11,0-7.88,0.67-11.3,2.01s-6.34,3.22-8.73,5.62          c-2.4,2.41-4.25,5.23-5.56,8.48c-1.31,3.25-1.97,6.77-1.97,10.57v62.44c0,3.81,0.66,7.33,1.97,10.57c1.31,3.25,3.17,6.07,5.56,8.48          c2.4,2.41,5.31,4.28,8.73,5.62s7.19,2.01,11.3,2.01C135.31,141.16,141.73,138.75,146.12,133.94 M194.66,115.98          c0,2.69-0.78,4.87-2.33,6.55c-1.56,1.68-3.77,2.52-6.65,2.52c-2.88,0-5.1-0.84-6.65-2.52c-1.56-1.68-2.33-3.86-2.33-6.55V50.52          c0-2.69,0.78-4.87,2.33-6.55c1.56-1.68,3.77-2.52,6.65-2.52c2.88,0,5.1,0.84,6.65,2.52c1.56,1.68,2.33,3.86,2.33,6.55V115.98z          M205.38,133.77c4.95-4.92,7.42-11.3,7.42-19.14V51.86c0-3.92-0.65-7.5-1.96-10.74c-1.31-3.24-3.13-6.04-5.46-8.39          c-2.33-2.35-5.18-4.17-8.53-5.46c-3.36-1.29-7.08-1.93-11.18-1.93c-4.1,0-7.82,0.65-11.18,1.93c-3.36,1.29-6.2,3.1-8.53,5.46          c-2.33,2.35-4.15,5.15-5.46,8.39c-1.31,3.25-1.96,6.83-1.96,10.74v62.78c0,7.83,2.48,14.21,7.42,19.14          c4.95,4.93,11.52,7.39,19.71,7.39C193.86,141.16,200.43,138.7,205.38,133.77 M262.97,139.15h14.04V27.35h-16.26v68.48l-5.82-17.29          l-17.8-51.19h-16.09v111.79h16.44V71.33l6.33,17.12L262.97,139.15z M346.43,134.03c4.51-4.76,6.76-10.99,6.76-18.72V27.35h-18.15          v88.96c0,5.82-2.63,8.73-7.88,8.73c-5.37,0-8.05-2.91-8.05-8.73V94.66h-17.29v21.32c0,7.72,2.31,13.85,6.93,18.38          c4.62,4.53,10.87,6.8,18.75,6.8C335.61,141.16,341.92,138.78,346.43,134.03 M390.51,102.39h-12.33l6.68-45.66L390.51,102.39z          M395.47,139.15h18.49l-19-111.79h-20.03l-19,111.79h16.61l3.42-21.82h16.61L395.47,139.15z M462.33,133.94          c4.39-4.81,6.59-10.97,6.59-18.46V99.2h-16.09v16.62c0,2.69-0.77,4.9-2.31,6.63c-1.54,1.74-3.91,2.6-7.11,2.6          c-3.2,0-5.56-0.86-7.1-2.6c-1.54-1.73-2.31-3.89-2.31-6.46V50.52c0-2.57,0.77-4.73,2.31-6.46c1.54-1.73,3.91-2.6,7.1-2.6          c3.2,0,5.56,0.87,7.11,2.6c1.54,1.74,2.31,3.94,2.31,6.63v16.45h16.09V51.02c0-7.5-2.2-13.65-6.59-18.46          c-4.4-4.81-10.82-7.22-19.26-7.22c-4.11,0-7.88,0.67-11.3,2.01c-3.42,1.34-6.33,3.22-8.73,5.62c-2.4,2.41-4.25,5.23-5.56,8.48          c-1.31,3.25-1.97,6.77-1.97,10.57v62.44c0,3.81,0.66,7.33,1.97,10.57c1.31,3.25,3.17,6.07,5.56,8.48c2.4,2.41,5.31,4.28,8.73,5.62          c3.42,1.34,7.19,2.01,11.3,2.01C451.51,141.16,457.93,138.75,462.33,133.94 M550.41,27.35h-24.14l-9.76,56.57l-3.25,21.65          l-3.08-21.65l-9.93-56.57h-24.48v111.79h16.09V56.06l3.42,23.5l10.1,59.59h13.7l10.61-59.59l3.6-23.5v83.09h17.12V27.35z          M550.28,17.99h36.89V0h-36.89V17.99z M643.03,139.15V27.35h-16.27v68.48l-5.82-17.29l-17.8-51.19h-16.09v111.79h16.43V71.33          l6.33,17.12l19.18,50.69H643.03z"></path></g>
          </svg>
  
          {%- else -%}
            <span class="color-{{ section.settings.color_overlay }}">{{  section.settings.overlay_text }}</span>
          {%- endif -%}
        </div>

        {%- if section.settings.link -%}
          </a>
        {%- endif -%}
    </div>
</div>



{%- stylesheet -%}
.slideshow {
  position: relative;
  z-index: 0;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow .imgs, .slideshow .imgs img, .slideshow .overlay {
  width: 100%;
  height: 100%;
}

.slick-track {
  position: absolute;
}
.slick-list, .slick-track, .slick-slide div {
  height: 100% !important;
}

.slideshow .imgs {
  top: 82px;
  height: calc(100% - 79px);
  z-index: -1 !important;
}

.slideshow .imgs img {
  object-fit: cover;
}

.slideshow .overlay {
  z-index: 1 !important;
}

.overlay a {
    width: 100%;
    text-decoration: none !important;
}

.overlay .wrap {
  width: 80%;
  margin: 0 auto;
}

.overlay .wrap .logo {
  height: auto;
  margin: 0 auto;
}

.overlay .wrap span {
  font: 200px 'display';
  letter-spacing: -3px;
  line-height: 160px;
  text-transform: uppercase;
  word-break: break-word;    
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
{%- endstylesheet -%}



{% javascript %}
let 
  show = $('.slideshow'),
  imgs = show.children('.imgs'),
  autoSpeed = parseFloat(imgs.data('auto')) * 1000;

imgs.each((k,v) => {
  $(v).slick({
    infinite: true,
    fade: true,

    autoplay: true,
    autoplaySpeed: autoSpeed,
    speed: 1200,

    pauseOnFocus: false,
    pauseOnHover: false,
    pauseOnDotsHover: false,
    arrows: false
  });
});

$(window).on('orientationchange resize', function(e) {

  if(!show.alive()) return;

  let 
    img = imgs.find('img:first'),
    iw = parseFloat(img.attr('width')),
    ih = parseFloat(img.attr('height')),
    ww = $(window).width(),
    wh = $(window).height();

  let sh = (ww <= 750) ? (ww / iw) * ih : wh - parseFloat($('main').css('margin-top'));
  show.css('height', sh);
  imgs.css('height', sh);
});

$(window).trigger('resize');

{% endjavascript %}